.homePageComponentContainer {
  width: 100vw;
  height: 100vh;

  background-color: black;

  .pictureSliderContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 400px;

    background-color: gray;

    .pictureSliderImage {
      img {
        width: 200px;
        height: 200px;
      }
    }
  }
}
