.homePageComponentContainer {
  height: 100vh;

  overflow: hidden;

  .pictureSliderContainer {
    display: flex;
    align-items: center;
    height: 400px;

    scroll-behavior: smooth;
    overflow: scroll;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;

    .pictureSliderImage {
      img {
        padding: 20px;
        height: 400px;
      }
    }
  }
}
