.footer {
  background-color: var(--mainThemeColor);
  width: var(--homePageWidth);
  justify-self: center;
  .footerContainer {
    justify-self: center;
    color: white;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 250px;
    padding: 10px;
  }

  .seperatorLine {
    background-color: white;
    width: 1px;
    height: 210px;

    justify-self: center;
    align-self: center;
  }
}

.footerButtonsContainer {
  width: 40%;
  height: 70%;
  align-self: center;
  display: flex;
  justify-content: space-between;
  // border-right: 1px solid white;

  .footerButtonsWrapper {
    display: flex;
    flex-direction: column;
  }

  h4 {
  }

  button {
    margin-top: 5px;
    width: fit-content;
  }

  button:hover {
    box-shadow: inset 0px -1px 0px white;
  }
}

.footerInformationTwo {
  display: flex;
  flex-direction: column;

  justify-content: center;

  justify-self: center;
  align-self: center;

  height: 60%;
  width: 40%;

  .headerContainer {
  }

  .pContainer {
    display: flex;
    font-weight: 600;
  }

  .pContainer p:nth-child(2) {
    margin-left: 10px;
    margin-right: 10px;
  }

  h3,
  p {
  }
}
