.footer {
  width: var(--homePageWidth);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .footerContainer {
    padding: 30px;
    width: 65%;
    min-width: 350px;

    color: white;
    display: flex;
    justify-content: space-evenly;
  }
}

.footerButtonsContainer {
  height: 100%;
  width: 60%;
  display: flex;
  align-self: center;
  justify-content: space-evenly;

  .footerButtonsWrapper {
    display: flex;
    flex-direction: column;
  }

  h4 {
  }

  button {
    margin-top: 5px;
    width: fit-content;
    cursor: pointer;
  }

  button:hover {
    box-shadow: inset 0px -1px 0px white;
  }
}

.footerInformationTwo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: 40%;

  .headerContainer {
  }

  .pContainer {
    display: flex;
    font-weight: 600;
  }

  .pContainer p:nth-child(2) {
    margin-left: 10px;
    margin-right: 10px;
  }

  h3,
  p {
  }
}

.copyRightContainer {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}
