.navBarContainer {
  background-color: var(--topThemeColor);
  width: var(--homePageWidth);
  height: 400px;
  align-items: center;

  display: grid;
  align-content: space-between;
  .navBarWrapper {
    // background-color: var(--mainThemeColor);

    width: var(--homePageWidth);
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;

    justify-self: center !important;
    align-self: center !important;

    // box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

    .navTitleContainer {
      height: 200px;
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 200px;
        width: 200px;
        transition: all 0.2s ease;
        background-size: auto;
        cursor: pointer;
      }

      img:hover {
        height: 205px;
        width: 205px;
      }
    }

    .navBarButtons {
      margin-top: 5px;
      border-bottom-left-radius: var(--buttonContainerRadius);
      border-bottom-right-radius: var(--buttonContainerRadius);
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      min-width: fit-content;
      height: fit-content;
      padding: 10px;
      width: 65%;
      min-width: 350px;

      background-color: var(--buttonContainerTheme);

      transition: all 0.1s ease-out;

      .navBarButtonsWrapper {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;

        height: 60px;
        min-width: 100%;

        z-index: 1;
      }
    }
  }
}

.navButtonContainer {
  height: 100%;

  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    width: 100%;
    height: 80%;

    color: var(--buttonTextColor);

    border-radius: var(--buttonRadius);

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    position: relative;
    transition: background-color 0.2s ease;
    overflow: hidden;
    background-color: var(--buttonWrapperColor);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }

  .buttonTarget {
    background-color: var(--buttonFocusColor) !important;

    .insideButtonWrapper {
      background-color: var(--buttonFocusColorTwo) !important;
    }

    .mouseDot {
      background-color: rgba(172, 173, 196, 0.627);
      opacity: 40%;
    }
  }

  .insideButtonWrapper {
    transition: all 0.2s ease;
    width: clamp(94%, 97%, 150px);
    height: clamp(88%, 93%, 45px);
    background-color: var(--buttonColor);

    backdrop-filter: blur(20px);

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: var(--buttonRadius);

    z-index: 1;

    p {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  button:hover .mouseDot {
    display: block;
  }

  .mouseDot {
    display: none;
    border-radius: 50%;

    background-color: var(--buttonHighLightColor);
    opacity: 50%;

    -webkit-mask-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 1) 10%,
      rgba(0, 0, 0, 0) 80%
    );
    mask-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 1) 10%,
      rgba(0, 0, 0, 0) 80%
    );

    width: 250px;
    height: 250px;

    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;

    transition: transform 0.1s, border 0.4s;
    pointer-events: none;
  }
}

.extendedButtons {
  width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  background-color: var(--buttonContainerTheme);

  border-end-end-radius: 30px;
  border-end-start-radius: 30px;
  animation: fadeIn 0.2s ease;

  .extendedButtonsWrapper {
    width: 93%;
    min-height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navButtonContainer {
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      width: 95% !important;
      min-height: 100%;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    .insideButtonWrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      width: clamp(94%, 97%, 130px) !important;
      height: clamp(88%, 93%, 30px) !important;

      text-align: center;

      color: white;

      align-self: center;
      justify-self: center;

      p {
        min-width: 100px;

        img {
        }
      }
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      margin-top: -50px;
    }

    to {
      opacity: 1;
      margin-top: 0px;
    }
  }

  .genreContainer {
    width: 0px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;

    z-index: 1;

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      background-color: var(--buttonContainerTheme);
      min-width: 30vw;
      height: 50px;
      min-height: fit-content;

      color: white;

      margin-top: 40px;

      border-radius: var(--buttonContainerRadius);

      padding: 10px;

      button {
        min-width: fit-content !important;
        min-height: fit-content !important;

        width: 10%;

        padding: 10px;

        transition: all 0.2s ease;
        border-radius: var(--buttonRadius);

        cursor: pointer;
      }

      button:hover {
        background-color: var(--buttonColor);
      }
    }
  }
}
