.appContainer {
  height: fit-content;

  display: grid;
  justify-content: center;
}

.routesContainer {
}

.pageToView {
  display: flex;
  justify-content: center;
  align-items: center;

  bottom: 0;

  color: white;
  height: 100px;

  position: relative;
  button {
    font-size: 20px;
    font-weight: 600;
    margin: 10px;

    cursor: pointer;
  }

  button:hover {
    font-weight: 800;
  }

  p {
    margin: 10px;
  }
}

.UpcomingEventsPage {
  margin-top: 50px;
  position: relative;
  min-height: 1000px;
  height: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .pageEventsWrapper {
    width: calc(var(--homePageWidth) + 40px);
  }

  .locationTitle {
    margin-left: 20px;
    color: white;
  }

  .displayTypeIconsContainer {
    img {
      filter: brightness(0) invert(1);
      width: 15px;
      height: 15px;
    }
  }

  .eventsToday {
    width: calc(var(--homePageWidth) + 40px);
  }
}

.homePage {
  width: 100%;
}
