.appContainer {
  height: fit-content;
}

.routesContainer {
  min-height: 1000px;
  height: fit-content;
}

.pageToView {
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  button {
    font-size: 20px;
    font-weight: 600;
    margin: 10px;

    cursor: pointer;
  }

  button:hover {
    font-weight: 800;
  }

  p {
    margin: 10px;
  }
}

.UpcomingEventsPage {
  min-height: 1000px;
  height: fit-content;

  position: relative;

  .displayTypeIconsContainer {
    img {
      filter: brightness(0) invert(1);
      width: 15px;
      height: 15px;
    }
  }
}
