.artistPage {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.artistProfile {
  color: white;

  display: flex;
  justify-content: center;
  align-content: center;
  justify-self: flex-end;

  .profileContainer {
    max-width: 400px;

    .titleContainer {
    }

    .imageContainer {
      img {
        height: 400px;
        width: 400px;

        object-fit: cover;
      }
    }

    .bioInfoContainer {
      display: flex;
      flex-direction: column;

      h4 {
        margin-top: 10px;
      }

      .linkButtonsContainer {
        display: flex;
        margin-top: 10px;

        button {
        }
      }
    }
  }
}

.artistEventsContainer {
  max-width: 800px;

  .eventSectionContainer {
    display: flex;
    flex-direction: column;
    min-width: 100%;
  }
  .eventWrapper {
    padding: 10px;
    margin-bottom: 15px;

    min-height: 75px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: orange;
    border: 1px solid black;

    .eventTitle {
      flex: 1;
    }

    .eventSubInfo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 50%;
    }
  }
}
