.events {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  justify-self: center;

  width: 80%;

  .eventContainer {
    filter: blur(5px);
    display: flex;
    align-self: center;
    width: 100%;
    height: 100%;
    max-height: 110px;

    transition: all 0.2s ease;
    cursor: pointer;

    border-top: 6px solid var(--mainThemeTwo);
    border-bottom: 6px solid var(--mainThemeTwo);
  }

  div:hover {
  }
}

.show {
  filter: blur(0px) !important;
}

.event {
  min-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: space-between;

  background-color: #b8b8ca;

  img {
    object-fit: cover;
    width: 18%;
    transition: all 0.2s ease;
  }

  img:hover {
    width: 23% !important;
  }
}

.event:hover img {
  width: 20%;
}
