.events {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  justify-self: flex-start;
  flex-wrap: wrap;

  min-width: 100%;
  min-height: 300px;

  .eventContainer {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;

    width: 33%;
    min-height: 400px;
    padding: 20px;

    opacity: 0%;

    transition: opacity 0.6s ease-in-out;
  }

  .show {
    opacity: 100%;
  }

  div:hover {
  }

  @media screen and (max-width: 1334px) {
    .eventContainer {
      width: 50%;
    }
  }

  @media screen and (max-width: 760px) {
    .eventContainer {
      width: 100%;
    }
  }
}

.event {
  width: 100%;
  min-width: 100%;

  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;

  transition: all 0.2s ease;

  position: relative;

  .subInfo {
    position: absolute;
    bottom: 0;
    left: 0;

    border-top: none;
    height: fit-content;

    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-width: 100%;
    min-height: 150px;
    z-index: 10;

    transition: none !important;

    background-color: var(--buttonWrapperColor);
    backdrop-filter: blur(10px);

    border-bottom-left-radius: var(--eventContainerRadius);
    border-bottom-right-radius: var(--eventContainerRadius);

    .titleAndAddToFavs {
      display: flex;
      justify-content: space-between;

      .favButtonsContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 40px;
      }
    }

    .title {
      font-size: 18px;
      font-weight: bold;
    }

    .location {
      color: rgb(186, 186, 186);
    }

    .date {
      color: rgb(236, 236, 236);
      font-size: 16px;
      font-weight: 500;
      z-index: 1111;
    }

    .moreDatesText {
      z-index: 10000;
      color: rgb(186, 186, 186);

      position: relative;
      width: 100%;
      max-width: 290px;

      .moreDatesIcon {
        height: 15px;
        width: 15px;

        filter: invert(0.8);

        position: absolute;
        margin-top: 4px;
        margin-left: 5px;
      }
    }

    .moreDatesText:hover {
      color: white;

      .moreDatesIcon {
        filter: invert(1);
      }
    }

    .moreDatesText,
    .moreDates {
      cursor: pointer;
    }

    .moreDates {
      position: absolute;
      background-color: var(--buttonColor);
      border: 1px solid var(--buttonFocusColor);

      border-radius: 5px;
      max-height: 80px;
      min-width: 200px;

      overflow: scroll;
      scrollbar-width: none;
      -ms-overflow-style: none;
      scroll-behavior: smooth;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      .location {
        padding: 5px;
      }
    }
  }
}

.event:hover .eventImage {
  .coverPhoto {
    transform: scale(1.01);
  }

  .coverPhotoFaded {
    filter: blur(1px);
  }
}

.eventImage {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: none;

  height: 400px;

  overflow: hidden;

  overflow: hidden;

  border-radius: var(--eventContainerRadius);

  transition: opacity 0.6s ease;

  .coverPhoto {
    object-fit: cover;
    min-height: 100%;
    width: 100%;

    display: block;

    border-bottom: none;
    will-change: transform, filter;
    transition: transform 0.3s ease, filter 0.3s ease;
  }

  .playPauseIcon {
    width: 70px;
    width: 70px;

    position: absolute;
    margin: 0;

    z-index: 1;
    filter: invert(100%) brightness(200%);

    cursor: pointer;
  }

  .playPauseIcon:hover .coverPhoto {
    // opacity: 50%;
  }

  .playButtonContainer {
    margin-top: -100px;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    svg,
    .logo {
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);
    }

    .logo {
      width: 140px;
      height: 140px;
      border-radius: 100px;
      opacity: 0;
      animation: fadeIn 0.75s linear forwards;
      animation-delay: 1s;
    }

    .circle {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: stroke 15s ease-out forwards;
    }

    @keyframes stroke {
      to {
        stroke-dashoffset: 0;
      }
    }

    @keyframes fadeIn {
      to {
        opacity: 1;
      }
    }
  }
}

.ticketButton {
  background-color: var(--buttonWrapperColor);
  border-radius: var(--eventContainerRadius);

  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;

  margin-top: 5px;

  button {
    border-radius: var(--eventContainerRadius);
    cursor: pointer;
    width: 100%;
    height: 100%;
  }

  button:hover {
    background-color: var(--buttonFocusColor);
  }

  a {
    min-width: 100%;
    min-height: 100%;
  }
}

.svgCircle {
}

.loadingSvgContainer {
  position: absolute;
  left: 0;
  top: 0;

  margin-left: 50vw;
  margin-top: 150px;
}

.favoriteButton {
  .starButton {
    cursor: pointer;

    .starIcon {
      height: 20px;
      width: 20px;

      filter: invert(0.1);
    }

    .starIcon:hover {
      filter: invert(0.4);
    }

    .starIconFaved {
      height: 20px;
      width: 20px;

      filter: invert(1);
    }
  }
}

.infoButtonContainer {
  .infoButton {
    cursor: pointer;
    .infoButtonIcon {
      height: 16px;
      width: 16px;

      filter: invert(0.1);
    }
  }

  .infoButton:hover {
    .infoButtonIcon {
      filter: invert(0.6);
    }
  }
}
