@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
  font-family: "Bebas Neue", sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--mainThemeTwo);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --homePageWidth: min(75vw, 1200px);
  --maxWidth: 950px;

  /*Generic themes for the website*/
  --topThemeColor: var(--mainThemeTwo);
  --mainThemeColor: var(--mainThemeTwo);
  --mainThemeTwo: rgb(18, 18, 18);
  --buttonContainerTheme: #2c2c2c;

  /* navbar colors*/
  --buttonColor: rgb(63, 63, 63);
  --buttonWrapperColor: rgba(91, 91, 91, 0.725);
  --buttonTextColor: white;
  --buttonFocusColor: rgba(85, 85, 85, 0.79);
  --buttonFocusColorTwo: #292929c9;
  --buttonHighLightColor: rgba(255, 255, 255, 0.627);

  /*Radius-values for varius containers*/
  --buttonContainerRadius: 15px;
  --buttonRadius: 30px;

  --eventContainerRadius: 15px;

  display: grid;
}

/* Reset margin and padding */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove default list styles */
ul,
ol {
  list-style: none;
}

/* Remove anchor tag underline */
a {
  text-decoration: none;
}

/* Remove default input styles */
input,
button,
textarea,
select {
  border: none;
  background: transparent;
  font: inherit;
  color: inherit;
}

/* Ensure consistent box sizing */
html {
  box-sizing: border-box;
}

body {
  font-family: "Bebas Neue", sans-serif;
}

/* Set background and text color for body */
body {
  color: #333;
  min-height: 100vh;
}

/* Remove default table styles */
table {
  border-collapse: collapse;
  width: 100%;
}

p {
  margin-top: 2px;
  margin-left: 2px;
  letter-spacing: 1px;
  font-size: 1rem;
  word-break: 1px;
  line-height: 1;
}

/* Optional: Add some basic typography resets */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
  letter-spacing: 1px;
  word-break: 1px;
  font-size: 1rem;
  margin: 0;
  text-transform: uppercase;
}

h3 {
  font-size: 1.3rem;
}

h1,
h2 {
  font-size: 1.6rem;
}

html,
body {
  overflow: overlay;
}
