:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--mainThemeTwo);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --mainThemeColor: var(--mainThemeTwo);
  --mainThemeTwo: #13161c;
  --buttonContainerTheme: #262930;
  --homePageWidth: min(75vw, 1200px);

  display: grid;
}

/* Reset margin and padding */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove default list styles */
ul,
ol {
  list-style: none;
}

/* Remove anchor tag underline */
a {
  text-decoration: none;
}

/* Remove default input styles */
input,
button,
textarea,
select {
  border: none;
  background: transparent;
  font: inherit;
  color: inherit;
}

/* Ensure consistent box sizing */
html {
  box-sizing: border-box;
}

body {
  font-family: sans-serif; /* Or your preferred font-family */
  line-height: 1.5;
}

/* Set background and text color for body */
body {
  color: #333;
  min-height: 100vh;
}

/* Remove default table styles */
table {
  border-collapse: collapse;
  width: 100%;
}

/* Optional: Add some basic typography resets */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

html,
body {
  overflow: overlay; /* if supported */
  overflow: auto; /* fallback */
}
