.searchInputContainer {
  width: 50%;
  min-width: 305px;

  border-top-right-radius: 15px;
  border-top-left-radius: 15px;

  background-color: var(--buttonContainerTheme);
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  .searchInput {
    width: 89%;

    border: none;
    outline: none;
    padding: 10px;
  }

  .searchIcon {
    cursor: pointer;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
  }

  svg {
    min-width: 150% !important;
  }

  .searchIcon path {
    fill: var(--buttonContainerTheme);
  }
}

.countrySelect {
  width: 25px;
  height: 25px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: relative;
  margin-left: 5px;
  color: white;

  z-index: 20;
  .countiesContainer {
    margin-top: -150px;
    background-color: var(--buttonContainerTheme);
    border: 1px solid black;
    display: flex;
    align-items: center;

    flex-direction: column;

    max-height: 300px;
    width: 80px;
    overflow: scroll;
    position: absolute;
    z-index: 1;

    button {
      cursor: pointer;
      padding: 5px;
      width: 90%;

      transition: all 0.2s ease;

      border-radius: 15px;
    }

    button:hover {
      background-color: #3d3d4a;
    }
  }
}
