.searchInputContainer {
  width: 90%;
  margin-bottom: 20px;

  background-color: white;

  display: flex;

  align-items: center;

  .searchInput {
    width: 90%;
    border: none;
    outline: none;
    padding: 5px;
  }
}
