.searchInputContainer {
  width: 50%;
  min-width: 305px;

  border-top-right-radius: 15px;
  border-top-left-radius: 15px;

  background-color: var(--buttonContainerTheme);
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  .searchInput {
    width: 85%;

    border: none;
    outline: none;
    padding: 10px;
  }

  .searchIcon {
    cursor: pointer;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    margin-left: 10px;
  }

  svg {
    min-width: 150% !important;
  }

  .searchIcon path {
    fill: var(--buttonContainerTheme);
  }

  .spacer {
    margin: 3px;
  }

  .countryCityFilter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
  }
}

.countrySelect {
  min-width: 25px;
  height: 25px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  color: white;

  div {
    button {
      cursor: pointer;
    }
  }

  .countiesContainer {
    z-index: 20;
    margin-top: -5px;
    margin-left: 35px;

    background-color: var(--buttonContainerTheme);
    display: flex;
    align-items: center;

    max-height: 40px;
    max-width: 644px;
    width: 40vw;
    overflow: scroll;
    position: absolute;
    z-index: 1;

    button {
      z-index: 15;
      cursor: pointer;
      padding: 5px;
      min-width: 10%;

      transition: all 0.2s ease;

      border-radius: 15px;
    }

    button:hover {
      background-color: #3d3d4a;
    }
  }
}
