.accountPageContainer {
  width: 65%;
  min-width: 350px;

  border-radius: var(--buttonRadius);

  display: flex;

  color: white;
}

.listContainer {
  min-width: 50%;

  border-top-left-radius: var(--buttonContainerRadius);
  border-bottom-left-radius: var(--buttonContainerRadius);
  border: 1px solid var(--buttonWrapperColor);

  padding: 10px;

  section {
    padding: 5px;
    margin-top: 10px;

    li {
      button {
        position: relative;
        cursor: pointer;
        color: var(--buttonColor);

        color: white;
        transition: all 0.2s ease;

        .underline {
          position: absolute;
          bottom: 4px;
          width: 0px;
          height: 1.5px;
          background-color: white;
          transition: all 0.2s ease;
        }
      }

      button:hover {
        .underline {
          width: 100%;
        }
      }
    }
  }
}

.activeAccountTabContainer {
  min-width: 50%;

  border-top-right-radius: var(--buttonContainerRadius);
  border-bottom-right-radius: var(--buttonContainerRadius);
  border: 1px solid var(--buttonWrapperColor);
  border-left: none;
  padding: 10px;

  .tabsSection {
    margin-top: 10px;

    .tabTitle {
      margin-left: 5px;
    }

    .subItem {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      margin-bottom: 10px;
      min-height: 48px;
      height: fit-content;

      .subItemContainer {
        padding: 5px;

        display: flex;
        flex-wrap: wrap;
        overflow: scroll;

        .subItemTitle,
        .subItemInfo {
          max-width: 213px;

          overflow: scroll;

          scrollbar-width: none;
          -ms-overflow-style: none;
        }

        .subItemInfo::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }

  .listSection {
  }
}

.changeInputButton {
  margin-left: 10px;
  width: fit-content;

  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  min-height: 38px;

  button {
    border-radius: var(--buttonRadius);

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    img {
      filter: invert(1);
      height: 15px;
      width: 15px;
    }
  }

  input {
    background-color: white;
    margin-left: 10px;
    color: black;
  }
}

.radioContainer {
  margin-left: 10px;
}

.locationContainer {
  margin-left: 10%;

  border: 1px solid var(--buttonWrapperColor);
  border-radius: var(--buttonRadius);
  padding: 5px;

  scrollbar-width: none;
  -ms-overflow-style: none;

  select {
    outline: none;
  }
}

.locationContainer::-webkit-scrollbar {
  display: none;
}

.linkedAccountsContainer {
  img {
    filter: invert(1);
    cursor: pointer;
    margin-left: 5px;
    height: 15px;
    width: 15px;
  }
}
